<div class="page-requests-index">

  {{#each model as |item|}}
    <div>
      ID: {{item.id}}, method: {{item.method}}, URL: {{item.url}}, foo: {{item.foo}}, bar: {{item.bar}}, baz: {{item.baz}}
    </div>
  {{/each}}

</div>