{{#pa-ge
  class="page-requests"
  modeIsDemo=modeIsDemo
  as |section|
}}
  {{#if (eq section 'sidebar')}}
    {{paginator-with-options
      page=page
      totalPages=pagesCount
      pagesList=pagesList
      availablePages=availablePages
      limit=limit
      sortByList=sortByList
      sortBy=sortBy
      sortOrder=sortOrder
    }}
  {{else}}


    {{#sticky-container class="_demoDesc"}}
      {{demo-desc modeIsDemo=modeIsDemo}}
    {{/sticky-container}}

    <div class="page-requests-content">

      {{#sticky-container class="_pagiNator"}}
        {{paginator-with-options
          page=page
          totalPages=pagesCount
          pagesList=pagesList
          availablePages=availablePages
          limit=limit
          sortByList=sortByList
          sortBy=sortBy
          sortOrder=sortOrder
        }}
      {{/sticky-container}}

      <div class="page-requests-content-content">

        <div class="page-requests-content-yield">
          {{outlet}}
        </div>

        {{cover-letter class="page-requests-content-coverLetter"}}
      </div>
    </div>
  {{/if}}
{{/pa-ge}}